<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Placing Things into Other Things</title>

		<meta name="description" content="A Talk for Lone Star Ruby Conf 2013">
		<meta name="author" content="Charles Lowell">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">
                <link rel="stylesheet" href="css/theme/thefrontside.css" type="text/css" media="screen" />

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">
			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
                          <section class="present" style="top: -350px; display: block;">
					<h4 style="color:#5a5e66;">Placing Things into Other Things</h4><br>
					<p style="font-family:museo_sans700, Arial, sans-serif; font-weight: normal; font-size:0.7em; color:#3e98d0;">
					Lone Star Ruby Conf<br>
					<br>
                                    <a href="http://twitter.com/cowboyd" style="font-family:museo_sans300, Arial, sans-serif; color:#5a5e66;" target="_blank" class="roll"><span data-title="@cowboyd">@cowboyd</span></a><br><br>    
					<a href="http://thefrontside.net" style="font-family:museo_sans300, Arial, sans-serif; color:#5a5e66;" target="_blank" class="roll"><span data-title="The FrontSide">The FrontSide</span></a><br><br>
					<span style="color:#5a5e66; font-family:museo_sans300, Arial, sans-serif; font-weight:normal;">July 18, 2013</span>
					</p>
				</section>
                          <section>
                            <h2>A confession</h2>
                            <p class="fragment" data-fragment-index="0">I'm not going to talk about placing things into other things</p>                            
                          </section>
                          <section>
                            
                            <em>"New Shit has come to light"</em>
                            <p> -- Jeffrey Lebowski</p>                            
                          </section>
                          <section>
                            <h3>Instead, I'm going to talk to you about the CLI</h3>
                            <p>(comand line interface)</p>
                          </section>
                          <section>
                            <h3> Yes. CLI.</h3>
                          </section>
                          <section>
                            <video controls>
                              <source src="assets/new-shit.mp4" type="video/mp4"/>
                            </video>
                          </section>
                          <section>
                            <h2> The CLI is the Developer UX </h2>
                          </section>
                          <section>
                            <h2>To all the gems I've loved before</h2>
                            <blockquote>Slop, Trollop, Mixlib, Map, Optitron, Rake, Thor, GLI, and even good old OptionParser</blockquote>
                          </section>
                          <section>
                            <h2>When it's good, it's good</h2>
                            <video controls>
                              <source src="assets/king.mp4" type="video/mp4"/>
                            </video>
                          </section>
                          <section>
                            <h3>And then comes the hangover</h3>
                            <video controls>
                              <source src="assets/cold-north-atlantic.mp4" type="video/mp4"/>
                            </video>
                          </section>
                          <section>
                            <h2>What went wrong?</h2>
                          </section>
                          <section>
                            <h1>Output</h1>
                          </section>
                          <section>
                            <h2>I have given a name to to my pain</h2>
                            <p class="fragment">and it is puts()</p>
                          </section>
                          <section>
                            <h3>how do you share calls to puts()?</h3>
                          </section>
                          <section>
                            <h3>How do you share code that formats text?</h3>
                          </section>
                          <section>
                            <h3>Example: Help</h3>
                            <pre><code data-trim class="console">
$ jenkins -h nodes
usage: jenkins nodes

    --host [HOST]          	  connect to jenkins server on this host
    --port [PORT]          	  connect to jenkins server on this port
    --ssl                  	  connect to jenkins server with ssl
    --username [USERNAME]  	  connect to jenkins server with username
    --password [PASSWORD]  	  connect to jenkins server with password
                             </code></pre>
                          </section>
                          <section>
                            <h3>layout?</h3>
                            <pre><code data-trim contenteditable class="ruby">
class CLI < Thor
  module Formatting
    module ClassMethods
      def task_help(shell, task_name)
        meth = normalize_task_name(task_name)
        task = all_tasks[meth]
        handle_no_task_error(meth) unless task
      
        shell.say "usage: #{banner(task)}"
        shell.say
        class_options_help(shell, nil => task.options.map { |_, o| o })
      end
      ...
    end
  end
end
                            </code></pre>
                          </section>
                          <section>
                            <h2>Embed streams into other streams</h2>
                            <ul>
                              <li class="fragment">with an indentation prefix</li>
                              <li class="fragment">with control characters</li>
                            </ul>
                          </section>
                          <section>
                            <h3>Capistrano is beautiful... Until it's ugly</h3>
                            <pre><code data-trim class="console">
** [out :: 198.61.173.225] Using rake (10.1.0)
** [out :: 198.61.173.225]
** [out :: 198.61.173.225] Using i18n (0.6.1)
** [out :: 198.61.173.225]
** [out :: 198.61.173.225] Using multi_json (1.7.7)
** [out :: 198.61.173.225]
** [out :: 198.61.173.225] Using activesupport (3.2.13)
** [out :: 198.61.173.225]
** [out :: 198.61.173.225] Using builder (3.0.4)
                            </code></pre>
                          </section>
                          <section>
                            <h2>Do progress bars need to be hard?</h2>
                            <pre><code class="console">
Fetching: rumm-0.0.18.gem (100%)
Successfully installed rumm-0.0.18
</code></pre>
                          </section>
                          <section>
                            <h2>What went wrong?</h2>
                          </section>
                          <section>
                            <h1>Decoding and Validation</h1>
                          </section>
                          <section>
                            <h3>Strings are the squishy goo of the software</h3>
                          </section>
                          <section>
                            <h3>We don't want goo, we want objects<h3>
                          </section>
                          <section>                            
                            <p style="margin-bottom: 40px">
                              'home/cowboyd' <span class="fragment" style="font-weight: bold; font-size: 125%;">=> #&lt;Pathname:/home/cowboyd&gt; </span>
                            </p>
                            <p class="fragment"><span class="blue">decoder:</span> <code class="ruby">Pathname()</code></p>
                          </section>
                          <section>                            
                            <p style="margin-bottom: 40px">
                              '198.61.173.225' <span class="fragment" style="font-weight: bold; font-size: 125%;">=>#&lt;IPAddr: IPv4:198.61.173.225&gt; </span>
                            </p>
                            <p class="fragment"><span class="blue">decoder:</span> <code class="ruby">IPAddr.new()</code></p>
                          </section>
                          <section>                            
                            <p style="margin-bottom: 40px">
                              'cowboyd@thefrontside.net' <span class="fragment" style="font-weight: bold; font-size: 125%;">=> #&lt;User id: 1></span>
                            </p>
                            <p class="fragment"><span class="blue">decoder:</span> <code class="ruby">User.find_by_email()</code></p>
                          </section>
                          <section>
                            <h3>Well formed objects aren't enough</h3>
                            <p>
                              They need to be valid in the bounded context in which they are being used
                            </p>
                          </section>
                          <section>
                            <h3>Decoding and Validation are separate concerns</h3>
                          </section>
                          <section>
                            <h3>Chomsky's classic example</h3>
                            <blockquote>Colorless green dreams sleep furiously</blockquote>
                            <p class="fragment">this is well-formed nonsense</p>
                          </section>
                          <section>
                            <h3>Objects can be well formed nonsense too</h3>                       
                          </section>
                          <section>
                            <h3>Well formed. But valid?</h3>
                            <p>#&lt;Pathname:/home/cowboyd></p>
                            <ul>
                              <li class="fragment"><code>.exist?</code></li>
                              <li class="fragment"><code>.owned?</code></li>
                            </ul>
                          </section>
                          <section>
                            <h3>Current tools are scant help with Decode/Validate</h3>
                            <p>As a community, we have a horrible bias towards the output side of things to the neglect of the input</p>
                          </section>
                          <section>
                            <h3>smart data == smart programs</h3>
                          </section>
                          <section>
                            <h1>No Plugin Architecure</h1>
                          </section>
                          <section>
                            <h2>Only so much program can fit into a single program</h2>                            
                          </section>
                          <section>
                            <h2>every sufficiently complex CLI will need this</h2>
                            <ul>
                              <li class="fragment">think rubygems, vagrant, heroku</li>
                            </ul>
                          </section>
                          <section>
                            <h2>every sufficiently complex program will need this</h2>
                            <ul>
                              <li>Rails Engines</li>
                              <li>Jenkins Plugins</li>
                              <li>Textmate Bundles</li>
                            </ul>
                          </section>
                          <section>
                            <h3>Ok, time for plugins. What do I need?</h3>
                            <ul>
                              <li class="fragment">discovery (search)</li>
                              <li class="fragment">download, verify and install</li>
                              <li class="fragment">register/activate at runtime</li>
                              <li class="fragment">configure</li>
                              <li class="fragment">uninstall</li>
                            </ul>
                          </section>
                          <section>
                            <h2>UUUUUUUHHHUUUUUUUUGGGGGGG</h2>
                          </section>
                          <section>
                            <h2>I could go on and on whinging...</h2>
                          </section>
                          <section>
                            <h2>Suffice it to say</h2>
                            <p><code class="ruby">OptParser::DSL != Framework</code></p>
                          </section>
                          <section>
                            <h2>Suffice it to say</h2>
                            <p>Option parsing is a solved problem. It's the other 98% of the application that sucks</p>
                          </section>
                          <section>
                            <h2>Fast Forward to 6 weeks ago</h2>
                          </section>
                          <section>
                            <img src="images/rumm-color.png"/>
                          </section>
                          <section>
                            <h2>All Purpose CLI for Rackspace</h2>
                            <p>(contains every gotcha mentioned above)</p>
                          </section>
                          <section>
                            <h2>Big API, large surface area</h2>
                          </section>
                          <section>
                            <h2>Plugins required</h2>
                          </section>
                          <section>
                            <h2>What to do?</h2>
                            <p class="fragment">Attack!</p>
                          </section>
                          <section>
                            <h1>Output</h1>
                          </section>
                          <section>
                            <h2>Contextualize the streams!</h2>
                          </section>
                          <section>
                            <h2>Step 1. Middlewares</h2>
                          </section>
                          <section>
                            <h2>Middlewares?</h2>
                          </section>
                          <section>
                            <h2>Yes. Middlewares.</h2>
                          </section>
                          <section>
                            <h2>What's in the middle?</h2>
                            <pre><code class="ruby">
class Command
  attr_reader :argv, :input, :output, :log, :env

  def initialize(argv, input, output, log, env)
    @argv, @input, @output, @log, @env = argv, input, output, log, env
  end
end</code></pre>
                            <p>A Command</p>
                          </section>
                          <section>
                            <h2>The API</h2>
                            <pre><code class="ruby">
def call(command)
  # do stuff before
  yield command #invoke next middleware
  # do stuff after
end
</code></pre>
                          </section>
                          <section>
                            <h2>Each middleware controls all downstream streams</h2>
                          </section>
                          <section>
                            <h2>Emoji!</h2>
                            <pre><code class="ruby">
def call(cmd)
  yield Command.new(cmd.argv, cmd.input, EmojiFilter.new(cmd.output), cmd.env)
end</code></pre>
                          </section>
                          <section>
                            <h2>Step 2. Templates</h2>
                          </section>
                          <section>
                            <h2>Templates?</h2>
                          </section>
                          <section>
                            <h2>Yes. Templates</h2>
                          </section>
                          <section>
                            <h2>Achieve re-use with layouts and partials</h2>
                          </section>
                          <section>
                            <h2>Help Redux</h2>
                            <pre><code data-trim contenteditable class="ruby">
class CLI < Thor
  module Formatting
    module ClassMethods
      def task_help(shell, task_name)
        meth = normalize_task_name(task_name)
        task = all_tasks[meth]
        handle_no_task_error(meth) unless task
      
        shell.say "usage: #{banner(task)}"
        shell.say
        class_options_help(shell, nil => task.options.map { |_, o| o })
      end
      ...
    end
  end
end
                            </code></pre>                            
                          </section>
                          <section>
                            <h2>You decide</h2>
<pre><code class="erb">
usage: <%= banner task %>

<% indent 4 do %>
  <%= render 'options' %>
<% end %>

</pre></code>
                          </section>
                          <section>
                            <h2>Templates are for streaming!</h2>
                            <ul>
                              <li class="fragment">templates further contextualize output</li>
                              <li class="fragment">streaming components</li>
                            </ul>
                          </section>
                          <section>
                            <h2>Progress bars are for templates!</h2>
<pre><code class="erb">
Fetching: <%= gem.filename %> <%= gem.progress %>
Successfully installed <%= gem.name %>

</code></pre>
                          </section>
                          <section>
                            <h2>Templates: Use 'em!</h2>
                          </section>
                          <section>
                            <h1>Decode / Validate</h1>
                          </section>
                          <section>
                            <h2>One word: Forms</h2>
                          </section>
                          <section>
                            <h2>Yes. forms.</h2>
                          </section>
                          <section>
                            <h2>Platonic Forms, not Web Forms</h2>
                          </section>
                          <section>
                            <p style="font-size: 200%;">What is the <span class="blue">essence</span> of your input?</p>
                          </section>
                          <section>
                            <h2>Create Loadbalancer</h2>
                            <code>app/forms/loadbalancers/create_form.rb</code>
                            <pre><code class="ruby">
class Loadbalancers::CreateForm < MVCLI::Form
  input :name, String, default: -> { naming.generate_name 'l', 'b' }

  input :port, Integer, default: 80, decode: ->(s) { Integer s }

  input :protocol, String, default: 'HTTP', decode: :upcase

  validates(:port) {|port| port >=0 && port < 65535 }
  validates(:protocol) {|p| ['HTTP','HTTPS','TCP', 'UDP'].member? p }
end
</code></pre>
                            <p class="fragment">deriving an option parser for this is left as an exercise for the reader</p>
                          </section>
                          <section>
                            <h1>What's going on here?</h1>
                            <ul>
                              <li class="fragment">templates</li>
                              <li class="fragment">validations</li>
                              <li class="fragment">middlewares</li>
                              <li class="fragment">Rack-Like API</li>
                            </ul>
                          </section>
                          <section>
                            <h2>Are we re-inventing Rails?</h2>
                          </section>
                          <section>
                            <h2>Kinda. Yeah.</h2>
                            <p class="fragment" style="font-size: 200%">and that's <span class="blue">awesome</span>.</p>
                          </section>
                          <section>
                            <h2>Co-Anatomy</h2>
                            <ul>
                              <li class="fragment"><code style="font-weight: bold">stdin</code> => <code>request.body</code></li>
                              <li class="fragment"><code style="font-weight: bold">stdout</code> => <code>response.body</code></li>
                              <li class="fragment"><code style="font-weight: bold">argv</code> => <code>request.uri</code></li>
                              <li class="fragment"><code style="font-weight: bold">exit_status</code> => <code>response.status_code</code></li>
                              <li class="fragment"><code style="font-weight: bold">ENV</code> => <code>request.headers</code></li>
                            </ul>
                          </section>
                          <section>
                            <h2>Convergent Design</h2>
                            <img src="images/shark-vs-dolphin.jpeg" style="width: 80%;"/>
                          </section>
                          <section>
                            <h2>Rumm routing</h2>
                            <code>app/routes.rb</code>
                            <pre><code>
macro /(-v|--version)/ => "version"
match 'version' => proc {|cmd| cmd.output << "#{Rumm::VERSION}\n" }

match 'login' => 'authentication#login'
match 'logout' => 'authentication#logout'

resources :servers do
  resources :attachments
end
resources :loadbalancers do
  resources :nodes
end
resources :dbinstances do
  resources :users
  resources :databases
end
resources :containers do
  resources :files
end
resources :volumes
</code></pre>
<p>describes about 50 commands!</p>
                          </section>
                          <section>
                            <h1>MVCLI</h1>
                            <p>
                              <a href="https://github.com/cowboyd/mvcli">https://github.com/cowboyd/mvcli</a>
                            </p>
                          </section>
                          <section>
                            <h2>Feels so good man</h2>
                            <ul>
                              <li>templating</li>
                              <li>routing</li>
                              <li>middlewares</li>
                              <li>models/controllers</li>
                            </ul>
                          </section>
                          <section>
                            <p style="font-size: 200%;">Because a command is a <span class="blue">process</span>, not an object</p>
                          </section>
                          <section data-state="blue">
                            <h1><img src="images/skull_guns.jpg" style="margin: 0;border-radius: 10px;"/> Thank You!</h1>
                            <ul>
                              <li><a href="http://twitter.com/cowboyd">@cowboyd</a></li>
                              <li><a href="https://github.com/cowboyd">github.com/cowboyd</a></li>
                              <li><a href="http://cowboyd.github.io/lsrc-2013">http://cowboyd.github.io/lsrc-2013</a></li>

                            </ul>
                          </section>
			</div>
		</div>
		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
